name: elsf_mobile
description: Emergency Local Services Finder
publish_to: none
version: 0.1.0
environment:
  sdk: ">=3.2.0 <4.0.0"
dependencies:
  flutter: 
    sdk: flutter
  flutter_riverpod: ^2.6.1
  firebase_core: ^4.3.0
  firebase_auth: ^6.1.3
  cloud_firestore: ^6.1.1
  cloud_functions: ^6.0.5
  google_maps_flutter: ^2.5.0
  geolocator: ^14.0.2
  intl: ^0.20.2
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
flutter:
  uses-material-design: true
